/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    // NAVBAR
    .navbar-wrap {
        padding: 5px 0px;
        overflow-y: scroll;
    .navbar-title {
        padding: 13px 3px;
        margin-left: 13px;
    }
    .navbar-menu li a {
        display: none;
    }
    #nav-menu {
        display: block;
    }
    #resume {
        max-width: 150px;
        margin: 10px auto;
        padding: 5px 13px;
    }
    }
    // INTRODUCTION
    .Introduction {
        position: relative;
        top: 150px;
        width: 100%;
        padding: 0;
        .intro-box-1 h1 {
            word-wrap: break-word;
            font-size: 75px !important;
        }
        .intro-box-1 p {
            word-wrap: break-word;
            font-size: 30px !important;
        }
        .intro-flexbox {
            display: block;
        }
        .intro-box-2 {
            display: none;
        }
    }

    // ABOUT ME
    #About-me {
        height: 100%;
    }
    #About-me h2 {
        font-size: 40px;
        letter-spacing: 0.1em;
    }
    .about-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .my-image {
        width: 250px;
        margin: 0 auto;
    }
    .my-image img {
        width: 100%;
    }
    .about-content {
        margin: 0 auto;
    }
    .about-content p {
        margin-top:20px;
        font-size: 10px;
    }

    // PROJECT SECTION
    #project-section {
        width: 100%;
        position: relative;
        .project-wrapper {
            display: grid;
            grid-template-columns: auto;
        }
    }
    #project-section h2 {
        font-size: 40px;
        letter-spacing: 0.1em;
    }
    // FOOTER 
    .footer {
        width: 100%;
        overflow-y: scroll;
        .footer-content {
            width: 100%;
            padding: 0;
        }
        .footer-icons ul {
            display: flex;
            flex-wrap: nowrap;
        }
        .footer-icons ul li {
            padding: 0 5px;
        }
        .footer-icons a {
            font-size: 13px;
            overflow: scroll;
        }
    }
}